* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

/* Login */

.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 400px;
  background: white;
  padding: 30px;
  box-shadow: 0 2px 8px #ccc;
  border-radius: 8px;
}

.login-box h1,
.login-box p {
  text-align: center;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 8px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  font-weight: bold;
}

button {
  padding: 9px 15px;
  background: #222;
  color: white;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

/* Dashboard */

.dashboard {
  padding: 25px;
}

.header {
  background: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  margin: 0;
}

.cards {
  display: flex;
  gap: 15px;
  margin: 20px 0;
}

.card {
  background: white;
  padding: 20px;
  width: 180px;
  text-align: center;
  box-shadow: 0 2px 6px #ddd;
}

.card p {
  font-size: 25px;
  font-weight: bold;
}

/* Form */

.form-box {
  background: white;
  padding: 20px;
  margin: 20px 0;
  max-width: 500px;
}

/* Tables */

table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  margin: 15px 0 30px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background: #eee;
}

td button {
  margin-right: 5px;
}

/* Attendance */

.attendance-box {
  background: white;
  padding: 20px;
  margin-top: 20px;
}

.attendance-top {
  display: flex;
  gap: 20px;
}

.attendance-top input,
.attendance-top select {
  width: 220px;
}

.attendance-table input {
  width: 18px;
}

/* Teacher Attendance Date and Subject */

.attendance-box > input[type="date"],
.attendance-box > select {
  width: 180px !important;
  height: 40px;
  padding: 8px 10px;
  margin: 5px 15px 15px 0;
  display: inline-block;
}

/* Radio Buttons */

.attendance-box input[type="radio"] {
  width: auto !important;
  margin: 0;
}